@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './variable.scss';

// BASE
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: $brand_text_color
}
ul{
  text-decoration: none;
}
i{
  cursor: pointer;
}


// COMMON
.card-base{
    width: 280px;
    min-height: 280px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 5px;
    text-align: center;    
    border-top: 6px solid $brand_main_color;
    padding: 40px 30px;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.btn{
  background-color: $brand_main_color;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 11px;
  cursor: pointer;
}